@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
.register_page {
  border: 10px solid #cecece;
  height: 100vh;
}

form#cad-veiculos {
  margin: 0;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link {
  display: block;
  padding: 1rem 1.6rem;
}

.tabs_register, form {
  margin: 40px 0 0 0;
}

li.nav-item.active.tabs__register.tabs_format, a.nav-link.tabs_format {
  background: #e3e3e3!important;
  color: #132e79;
  font-family: 'Monteserrat', sans-serif;
  font-size: 1.2rem;
  border: none;
  font-family: 'Montserrat';
}

li.nav-item.tabs__register.tabs_format {
  padding: 10px;
}

a.nav-link.active.tabs_format, li.nav-item.active.tabs__register.tabs_format, .nav-tabs>li.active>a {
  color: #fff!important;
  background-color: #132e79!important;
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

li.nav-item.tabs_format.tabs__register {
  background-color: #e3e3e3;
  margin: 25px 0;
}

li.nav-item.tabs_format.tabs__register {
  background-color: #e3e3e3!important;
  font-family: 'Montserrat';
}

.nav>li>a.tabs__register:hover {
  text-decoration: none;
  background-color: #eee;
  font-family: 'Montserrat';
}

button.btn.btn-primary.btn-def {
  background-color: #132e79!important;
  margin: 20px 0;
  padding: 10px 30px;
  font-size: 1rem;
}

#sidebar {
  background-color: #132e79;
  color: white;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  z-index: 2;
}

#sidebar .link-text {
  visibility: hidden;
}

#sidebar:hover .link-text {
  visibility: visible;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

#sidebar:hover {
  width: 200px;
}

#sidebar a {
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

#sidebar-nav {
  text-align: left;
  font-size: 30px;
  margin-top: 75px;
}

.icon {
  padding: 20px 15px;
}

.header_infos {
  height: 60px;
}

.header {
  background: #132e79;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.header .container {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: relative;
  text-transform: uppercase;
}

.wrapper .menu li {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.wrapper .menu li a {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper .menu li a i.fas {
  padding-left: 1rem;
}

.wrapper .menu li:hover .sub-menu {
  max-height: 50rem;
  transition: max-height 0.3s ease-in-out;
}

.wrapper span {
  display: block;
  position: relative;
  width: 2rem;
  height: auto;
  line-height: inherit;
  color: #ffffff;
}

.wrapper span.menu-link {
  display: none;
  padding: 1.5rem 0;
  background: #132e79;
}

.wrapper span.menu-link i.fas {
  font-size: 1.6rem;
}

.wrapper span:hover {
  transition: all 0.3s ease-in-out;
}

.wrapper .sub-menu {
  margin-top: 1rem;
  margin-left: -1rem;
  position: absolute;
  max-height: 0rem;
  overflow: hidden;
  z-index: -1;
}

.wrapper .sub-menu li {
  display: block;
  width: 100%;
  height: auto;
  background: #132e79;
}

.wrapper .sub-menu li a {
  padding: 1rem;
  white-space: nowrap;
}

.wrapper .sub-menu li:hover {
  background: #657bb8;
}

.header {
  display: none;
}

.input_car p {
  margin: 5px 0 0 0;
}
.mapa{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  #sidebar, .header_infos {
    display: none;
  }
  .nav-tabs {
    display: flex;
    justify-content: center;
    margin: 25px auto;
  }
  .header {
    display: block;
  }
}

.js .wrapper nav[role=navigation] {
  overflow: hidden;
  max-height: 0rem;
}

.js .wrapper nav[role=navigation].active {
  max-height: 100%;
  transition: max-height 0.3s ease-in-out;
}

.header .container {
  display: block;
}

.header .container .wrapper span.menu-link {
  display: block;
}

.header .container .wrapper .menu {
  padding-bottom: 1rem;
}

.header .container .wrapper .menu li {
  display: block;
  margin: 0;
  width: 100%;
}

.header .container .wrapper .menu li a {
  margin: 0;
}

.header .container .wrapper li:hover .sub-menu {
  max-height: 0rem;
  transition: all 0.3s ease-in-out;
}

.header .container .wrapper .sub-menu {
  display: block;
  width: 100%;
  margin: 0;
  margin: 1.5rem 0 0 1.5rem;
}

.header .container .wrapper .sub-menu li {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

.header .container .wrapper .sub-menu li a {
  margin: 0;
  display: block;
  width: 100%;
}

.header .container .wrapper .menu .has-subnav {
  position: relative;
}

.header .container .wrapper .menu .has-subnav i.fas {
  display: none;
}

.header .container .wrapper li .sub-menu.active {
  max-height: 100%;
  overflow: visible;
  position: relative;
  z-index: 9;
  transition: max-height 0.5s ease-out;
}

.header .container .wrapper .toggle-link {
  display: block;
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding: 1.2rem;
  background: #132e79;
  margin-top: -0.5rem;
}

.header .container .wrapper .menu .has-subnav>.toggle-link:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  font-size: 1rem;
  font-weight: normal;
  right: 0.7rem;
  bottom: 0.5rem;
  color: #fff;
}

.header .container .wrapper .menu .has-subnav>.toggle-link.active:after {
  content: "";
}